Exercise 1: Create a Jupyter Notebook

-Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [1]:
# click file and rename notebook

Exercise 2: Create markdown cell with title of the notebook

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

## In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. seaborn
5. scikit_learn

Exercise 6 - Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.
| Data Science Tools|
|--------------------|
|VScode|
|jupiterlab|
|Anaconda|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:
### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

## In this notebook, Data Science Tools and Ecosystem are summarized.
**objectives:**
- popular language for data science
- libraries used by data scientist
- open source tools

Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## Author:
Wayne LI